<template>
  <span
    v-show="counter"
    class="badge badge-danger ml-2"
  >
    {{ counter }}
  </span>
</template>

<script>
export default {
  data () {
    return {
      counter: 0
    }
  },

  created () {
    this.user = window.Notification.user
    this.counter = parseInt(window.Notification.counter)

    // window.Echo.join(`App.User.${this.user.id}`)
    window.Echo.private(`App.Models.User.${this.user.id}`)
      .notification((notification) => {
        this.counter++
      })
  }
}
</script>
