<template>
  <div
    class="notification-alert-wrapper"
    v-show="notifications.length"
  >
    <div
      v-for="(notification, index) in notifications"
      :key="index"
      class="notification alert alert-secondary shadow-md"
      role="alert"
    >
      <a
        :href="notification.url"
        style="color: black; text-decoration: none;"
      >
        <p style="margin-bottom: 8px;">
          <b>{{ notification.title }}</b>
        </p>

        <p style="margin-bottom: 0;">
          {{ notification.content }}
        </p>
      </a>

      <button
        type="button"
        class="close"
        @click.stop="notifications.splice(index, 1)"
        style="position: absolute; top: 0; right: 8px;"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<style>
.notification-alert-wrapper {
  position: absolute;
  width: 30%;
  right: 8px;
  top: 8px;
  z-index: 5;
}
</style>

<script>
export default {
  data () {
    return {
      user: null,
      notifications: [],
      url: ''
    }
  },

  created () {
    this.user = window.Notification.user
    this.url = window.Notification.url

    // window.Echo.join(`App.User.${this.user.id}`)
    window.Echo.private(`App.Models.User.${this.user.id}`)
      .notification((notification) => {
        this.formatNotification(notification)
      })
  },

  methods: {
    formatNotification (payload) {
      let notification = {}

      if (payload.type === 'App\\Notifications\\NewCase') {
        notification.title = 'New Case'
        notification.url = `${this.url}/cases/${payload.case_id}`
        notification.content = `You have new case from ${payload.user.first_name} ${payload.user.last_name} with subject ${payload.subject}`
      }

      if (payload.type === 'App\\Notifications\\CaseRespond') {
        notification.title = 'New Respond on Case'
        notification.url = `${this.url}/cases/${payload.respondable.id}`
        notification.content = `${payload.user.first_name} ${payload.user.last_name} send new respond on case with subject ${payload.respondable.subject}`
      }

      this.notifications.unshift(notification)
    }
  }
}
</script>
