<template>
  <div class="mt-3">
    <div class="form-group">
      <select
        class="form-control"
        name="category_id"
        v-model="form.category"
        @change="getConsultant({ reset: true })"
      >
        <option value="">Category</option>
        <option
          v-for="(category, index) in categories"
          :key="index"
          :value="category.id"
        >{{ category.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <ul class="list-group">
        <li
          class="list-group-item"
          v-for="(consultant, index) in consultants"
          :key="index"
        >
          <div class="ml-2 d-flex align-items-center">
            <input
              class="form-check-input"
              type="radio"
              name="consultant_id"
              v-model="form.consultant"
              :id="'consultant-'+consultant.id"
              :value="consultant.id"
            >
            <img
              @click="showProfileModal(consultant)"
              class="rounded-circle ml-3"
              :src="consultant.avatar ? consultant.avatar_url : defaultProfpic"
              style="height: 48px; width: 48px; object-fit: contain; object-position: center;"
            >
            <span
              class="ml-3"
              @click="showProfileModal(consultant)"
            >
              <b>{{ consultant.first_name + ' ' + consultant.last_name }}</b>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      categories: [],
      consultants: [],
      onlineUsers: [],
      form: {
        category: '',
        consultant: ''
      },
      user: null,
      defaultProfpic: ''
    }
  },

  created () {
    this.categories = window.Laravel.categories
    this.user = window.Laravel.user
    this.defaultProfpic = window.Laravel.defaultProfpic

    window.Echo.join('consultation')
      .here(users => {
        this.onlineUsers = users
      })
      .joining(user => {
        this.onlineUsers.push(user)

        this.getConsultant()
      })
      .leaving(user => {
        let reset = false

        if (user.id === this.form.consultant) {
          reset = true
        }

        user = this.onlineUsers.find(onlineUser => user.id === onlineUser.id)
        this.onlineUsers.splice(this.onlineUsers.indexOf(user), 1)

        this.getConsultant({ reset: reset })
      })
  },

  methods: {
    async getConsultant (option) {
      if (option && option.reset) {
        this.form.consultant = ''
      }

      this.consultants = []

      if (this.form.category) {
        let result

        result = await window.axios.get('/categories/' + this.form.category + '/users/json')
        let consultants = result.data

        this.consultants = consultants.filter(consultant => {
          let isFound = this.onlineUsers.find(user => user.id === consultant.id)

          return !!isFound
        })
      }
    },

    showProfileModal (user) {
      window.$('#profile-modal #profile-name').html(user.first_name + ' ' + user.last_name)
      const userRole = user.role ? (user.role.name[0].toUpperCase() + user.role.name.substring(1)) : 'User'
      window.$('#profile-modal #profile-role').html(userRole)
      window.$('#profile-modal #profile-avatar').attr('src', (user.avatar ? user.avatar_url : this.defaultProfpic))
      window.$('#profile-modal').modal('show')
    }
  }
}
</script>
