<template>
  <div class="h-100">
    <div
      v-show="showSuspendedAlert"
      class="alert alert-secondary mb-3"
      role="alert"
    >
      This consultation is suspended. {{ showSuspendedAlertMessage }}
    </div>

    <div
      class="p-3 bg-white rounded shadow-sm"
      style="margin-bottom: 8px;"
      :style="{ height: consultation.status === 'active' ? '90%' : (showSuspendedAlert ? 'calc(100% - 65px)' : '100%') }"
    >
      <div
        class="d-flex align-items-center"
        style="height: 32px; margin-bottom: 8px;"
      >
        <h5 class="m-0">Live Consultation{{ consultation.status === 'closed' ? ' History' : '' }}</h5>

        <div
          class="ml-auto"
          v-show="consultation.status !== 'closed'"
        >
          <span class="mr-2">Time</span> {{ tickingTime }}
          <span
            class="ml-2"
            :style="{ color: consultation.status === 'active' ? 'green' : (consultation.status === 'closed' ? 'red' : '') }"
          >{{ consultation.status }}</span>
        </div>
      </div>

      <div
        id="responds-wrapper"
        style="height: calc(100% - 40px); overflow: auto;"
      >
        <div
          class="w-100 d-flex mb-2"
          v-for="(respond, index) in responds"
          :key="index"
        >
          <div
            class="w-50 d-flex"
            v-if="respond.user.id !== user.id"
          >
            <img
              @click="showProfileModal(respond.user)"
              class="rounded-circle mr-3"
              :src="respond.user.avatar ? respond.user.avatar_url : defaultProfpic"
              style="height: 48px; width: 48px; object-fit: contain; object-position: center;"
            >

            <div
              class="pl-2 pr-2 pt-1 pb-1 border rounded"
              style="max-width: calc(100% - 64px);"
            >
              <p class="m-0">
                <b>{{ respond.user.first_name + ' ' + respond.user.last_name }}</b>
              </p>

              <p class="m-0">
                {{ respond.content }}
              </p>

              <p class="text-muted text-right m-0">
                <small>{{ respond.created_at }}</small>
              </p>
            </div>
          </div>

          <div
            v-else
            class="w-50 d-flex ml-auto"
            style="justify-content: flex-end;"
          >
            <div
              class="pl-2 pr-2 pt-1 pb-1 border rounded"
              style="max-width: calc(100% - 64px);"
            >
              <p class="m-0">
                {{ respond.content }}
              </p>

              <p class="text-muted m-0">
                <small>{{ respond.created_at }}</small>
              </p>
            </div>
            <img
              class="rounded-circle ml-3"
              :src="respond.user.avatar ? respond.user.avatar_url : defaultProfpic"
              style="height: 48px; width: 48px; object-fit: contain; object-position: center;"
            >
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="consultation.status === 'active'"
      class="bg-white shadow-sm rounded p-2 d-flex alig-items-center;"
      style="min-height: calc(10% - 8px); box-sizing: border-box;"
    >
      <form
        @submit.prevent="send"
        @keydown="sendOnEnter"
        class="d-flex align-items-center justify-content-between w-100"
      >
        <textarea
          class="form-control"
          style="width: 90%;"
          rows="1"
          v-model="form.content"
        />

        <button
          type="submit"
          class="btn btn-primary btn-sm"
          style="width: 8%;"
        >Send</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: null,
      usersOnline: [],
      timeRemaining: 0,
      consultation: null,
      responds: [],
      form: {
        content: ''
      },
      isOnline: true,
      reduceTimeInterval: null
    }
  },

  computed: {
    tickingTime () {
      let timeRemaining = this.timeRemaining / 1000
      let hours = Math.floor(timeRemaining / 3600)
      let minutes = Math.floor((timeRemaining % 3600) / 60)
      let seconds = Math.floor((timeRemaining % 3600) % 60)

      return (hours < 10 ? `0${hours}` : hours) + ':' + (minutes < 10 ? `0${minutes}` : minutes) + ':' + (seconds < 10 ? `0${seconds}` : seconds)
    },

    userRole () {
      return this.user.role ? this.user.role.name : 'user'
    },

    showSuspendedAlert () {
      return this.consultation.status === 'suspended'
    },

    showSuspendedAlertMessage () {
      if (!this.isOnline) {
        return 'You\'re offline. Please check your internet connection.'
      }

      if (!this.isUserOnline(this.consultation.user)) {
        return this.consultation.user.first_name + ' ' + this.consultation.user.last_name + ' is not available.'
      }

      if (!this.isUserOnline(this.consultation.consultant)) {
        return this.consultation.consultant.first_name + ' ' + this.consultation.consultant.last_name + ' is not available.'
      }

      return `Waiting ${this.consultation.user.first_name} ${this.consultation.user.last_name} signal...`
    }
  },

  created () {
    this.user = window.Laravel.user
    this.responds = window.Laravel.responds
    this.consultation = window.Laravel.consultation
    this.defaultProfpic = window.Laravel.defaultProfpic
    this.timeRemaining = this.consultation.time_remaining

    window.Echo
      .join(`consultation.${this.consultation.id}`)
      .here(users => {
        this.usersOnline = users
        this.tickTime()
      })
      .joining(user => {
        this.usersOnline.push(user)
        this.tickTime()
      })
      .leaving(user => {
        this.usersOnline.splice(this.usersOnline.indexOf(user), 1)
        this.stopTickTime()
        this.updateConsultation('suspended')
      })
      .listen('ConsultationResponded', (e) => {
        this.responds.push(e.respond)

        this.$nextTick(function () {
          this.scrollResponds()
        })
      })
  },

  mounted () {
    window.addEventListener('online', () => {
      this.isOnline = true
      this.tickTime()
    })

    window.addEventListener('offline', () => {
      this.isOnline = false
      this.stopTickTime()
      this.consultation.status = 'suspended'
    })

    this.scrollResponds()
  },

  methods: {
    isUserOnline (user) {
      let isFound = this.usersOnline.find(eachUser => eachUser.id === user.id)

      return !!isFound
    },

    tickTime () {
      if (
        this.isUserOnline(this.consultation.user) &&
        this.isUserOnline(this.consultation.consultant) &&
        this.consultation.status !== 'closed'
      ) {
        if (this.userRole === 'user') {
          this.updateConsultation('active')

          this.reduceTimeInterval = setInterval(() => {
            this.timeRemaining -= 1000

            if (this.timeRemaining <= 0) {
              this.consultation.status = 'closed'
              clearInterval(this.reduceTimeInterval)
            }

            window.Echo.private(`consultation.${this.consultation.id}`)
              .whisper('ticking', {
                consultation: this.consultation,
                timeRemaining: this.timeRemaining
              })

            this.updateConsultation(this.consultation.status, this.timeRemaining)
          }, 1000)
        } else {
          window.Echo.private(`consultation.${this.consultation.id}`)
            .listenForWhisper('ticking', (e) => {
              this.consultation = e.consultation
              this.timeRemaining = e.timeRemaining
            })
        }
      }
    },

    stopTickTime () {
      clearInterval(this.reduceTimeInterval)
      this.reduceTimeInterval = null
    },

    async updateConsultation (status, timeRemaining) {
      try {
        if (!timeRemaining) {
          timeRemaining = this.timeRemaining
        }

        if (this.consultation.status !== 'closed') {
          const { data } = await window.axios.put(`/consultations/${this.consultation.id}`, {
            status: status,
            time_remaining: timeRemaining
          })

          this.consultation = data
        }
      } catch (err) {
        console.log(err)
      }
    },

    sendOnEnter () {
      if (event.keyCode === 13) {
        if (!event.shiftKey) {
          event.preventDefault()
          this.send()
        }
      }
    },

    send () {
      if (this.form.content) {
        const respond = {
          content: this.form.content,
          user: this.user
        }

        this.responds.push(respond)

        this.form.content = ''

        window.axios.post(`/consultations/${this.consultation.id}/responds`, respond)
          .then(result => {
            this.responds[this.responds.indexOf(respond)] = result.data
          })

        this.$nextTick(function () {
          this.scrollResponds()
        })
      }
    },

    scrollResponds () {
      const respondsWrapper = document.getElementById('responds-wrapper')
      respondsWrapper.scrollTop = respondsWrapper.scrollHeight
    },

    showProfileModal (user) {
      window.$('#profile-modal #profile-name').html(user.first_name + ' ' + user.last_name)
      const userRole = user.role ? (user.role.name[0].toUpperCase() + user.role.name.substring(1)) : 'User'
      window.$('#profile-modal #profile-role').html(userRole)
      window.$('#profile-modal #profile-avatar').attr('src', (user.avatar ? user.avatar_url : this.defaultProfpic))
      window.$('#profile-modal #profile-bio').html(user.bio)
      window.$('#profile-modal').modal('show')
    }
  }
}
</script>
