<template>
  <div>
    <div
      v-for="(notification, index) in notifications"
      :key="index"
      class="notification p-3 border rounded"
      :class="notification.isRead ? 'bg-white' : 'bg-light'"
      role="alert"
    >
      <a
        :href="notification.url"
        style="color: black; text-decoration: none;"
      >
        <p style="margin-bottom: 8px;">
          <b>{{ notification.title }}</b>
          <small class="text-muted">at {{ notification.notified_at }}</small>
        </p>

        <p style="margin-bottom: 8px;">
          {{ notification.content }}
        </p>
      </a>
    </div>
  </div>
</template>

<style>
.notification:not(:last-child) {
  margin-bottom: 16px;
}
</style>

<script>
export default {
  data () {
    return {
      user: null,
      notifications: [],
      url: ''
    }
  },

  created () {
    this.user = window.Laravel.user
    this.url = window.Laravel.url
    let notifications = window.Laravel.notifications

    this.notifications = notifications.map((notification) => this.formatNotification(notification))

    window.Echo.private(`App.Models.User.${this.user.id}`)
      .notification((notification) => {
        this.notifications.unshift(this.formatNotification(notification))
      })
  },

  methods: {
    formatNotification (payload) {
      let notification = {}

      if (payload.type === 'App\\Notifications\\NewCase') {
        notification.title = 'New Case'
        notification.url = `${this.url}/cases/${payload.case_id}`
        notification.content = `You have new case from ${payload.user.first_name} ${payload.user.last_name} with subject "${payload.subject}"`
      }

      if (payload.type === 'App\\Notifications\\NewConsultation') {
        notification.title = 'New Consultation'
        notification.url = `${this.url}/consultations/${payload.consultation_id}`
        notification.content = `You have new consultation request from ${payload.user.first_name} ${payload.user.last_name}`
      }

      if (payload.type === 'App\\Notifications\\CaseRespond') {
        notification.title = 'New Respond on Case'
        notification.url = `${this.url}/cases/${payload.respondable.id}`
        notification.content = `${payload.user.first_name} ${payload.user.last_name} send new respond on case with subject "${payload.respondable.subject}"`
      }

      notification.notified_at = payload.notified_at
      notification.isRead = payload.isRead

      return notification
    }
  }
}
</script>
